.Login{
    background-image: url('../assets/loginBackground.jpg');
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    list-style: none;
    position: relative;
}

.LoginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px #33691e solid;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;
    padding-block: 3%;
}

.LoginTitle {
    color: #33691e;
    display: flex;
    justify-content: center;
    text-align: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.LoginInput {
    margin: 2%;
    width: 100%;
}

.LoginButton {
    margin-top: 5%;
    text-align: center;
    color: #33691e;
}

.LoginAlert {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}