.Navbar {
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    color: #A6CB72;
    background-color: #33691e;
    border-bottom: solid 2px #A6CB72;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.NavbarSplit, .NavBarHospital, .NavBarDoctor {
    margin-left: 0.5%;
    margin-right: 0.5%;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
}

.NavBarHospital {
    justify-content: flex-start;
}

.NavBarDoctor {
    justify-content: end;
}

.NavbarIcon {
    color: #A6CB72;
    padding-left: 1%;
    padding-right: 1%;
}