.PatientHistory {
    display: flex;
    flex-direction: column;
    background-color: #f2ffed;
    border: 1px solid #204213;
    border-radius: 7px;
    width: 70%;
    padding: 2%;
}

.PatientHistoryBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PatientHistoryTitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 5%;
    padding-bottom: 1%;
    border-bottom: 3px solid #204213;
    width: 40%;
}


.PatientHistoryLabel {
    color: #204213;
}

.PatientHistoryBodyLabel {
    color: #33691e;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid #33691e;
    width: 30%;
}

.PatientHistoryButton {
    margin-bottom: 2%;
}

.PatientHistoryMedicalActList {
    display: flex;
    flex-direction: column;
    width: 80%;
}