.PatientInfo{
    display: flex;
    flex-direction: column;
    background-color: #f2ffed;
    border: 2px solid #e8fae1;
    border-radius: 7px;
    width: 70%;
    padding: 2%;
    align-items: stretch;
}
.adminInfoField, .medInfoField, .medInfoFieldFull{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1%;
}
.adminInfoNir, .adminInfoLogo, .adminInfoButton, .adminInfoGlobal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminInfoNir{
    padding-right: 7%;
}
.adminInfoButton{
    padding-left: 5%;

}
.adminInfoLogo{
    padding-left: 1%;
    padding-right: 2%;
}

.adminInfoGlobal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adminInfoGlobalRow{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.adminInfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.newFileAlert{
    display: flex;
    justify-content: center;
    width: 100%;
}

.newFileAlertTitle{
    display: flex;
    padding: 1%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.infoFieldDisabled{
    background-color: #f5f5f5;
}

.medInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3%;
}
.medInfoData{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.medInfoTitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 2%;
}

.medInfoFieldFull{
    width: 100%;
}

.medInfoRow, .medInfoRowFirst{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
}

.medInfoRowFirst{
    width: 70%;
}

.medInfoButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.medInfoButtonsContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 2%;
    padding-bottom: 1%;
}
.medInfoButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.medSaveChange{
    margin-left: 5%;
}

.infoField{
    background-color: #ffffff;
}

.infoFieldLabel{
    overflow: hidden;
}

.medInfoListRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}
.medInfoList{
    background-color: white;
    width: 30%;
}