.PatientInfo{
    display: flex;
    flex-direction: column;
    background-color: #edf4ff;
    border: 1px solid #6FA2F8;
    border-radius: 7px;
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    align-items: stretch;
}

.adminInfoNir, .adminInfoLogo, .adminInfoButton, .adminInfoGlobal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminInfoNir{
    padding-right: 7%;
}

.PatientInfoIcon {
    padding-left: 1%;
    padding-right: 1%;
    text-align: right;
    width: 100%;
}

.adminInfoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.adminInfoLogo{
    padding-left: 1%;
    padding-right: 2%;
}

.adminInfoGlobal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.adminInfoGlobalRow{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.generalInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 4%;
}

.fullAdminInfoAlert{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

.fullAdminInfoAlertTitle{
    display: flex;
    padding: 1%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fullAdminInfoAlertSuccess, .fullAdminInfoAlertError{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 4px;
}

.fullAdminInfoAlertSuccessTitle, .fullAdminInfoAlertErrorTitle{
    display: flex;
    padding: 1% 1% 3%;
    flex-direction: row;
}

.fullAdminInfoAlertSuccess{
    border: 1px solid #6FA2F8;
    margin-left: 1%;
}

.fullAdminInfoAlertError{
    border: 1px solid #5c292a;
}

.InfoFieldColored{
    background-color: #f5f5f5;
}

.fullAdminInfoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fullAdminInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1%;
    border-radius: 0.5em;
}

.fullAdminInfoData{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.fullAdminInfoTitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: 3px solid #6FA2F8;
    width: 50%;
}

.fullAdminInfoFieldFull{
    width: 100%;
    padding-right: 0;
}

.fullAdminInfoFirstRow, .fullAdminInfoRow  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
}

.fullAdminInfoFirstRow {
    justify-content: space-between;
}

.fullAdminInfoRow {
    justify-content: flex-start;
}

.adminInfoField, .fullAdminInfoField, .fullAdminInfoFieldFull,
.fullAdminInfoFieldSolo, .fullAdminInfoFieldDouble {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
}

.fullAdminInfoFieldSolo {
    width: 100%;
}

.fullAdminInfoFieldDouble {
    flex: 2;
}

.fullAdminInfoFieldNext {
    margin-left: 1%;
}

.fullAdminInfoButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fullAdminInfoButtonsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 2%;
    margin-bottom: 1%;
}

.fullAdminInfoButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fullAdminSaveChange{
    margin-left: 2%;
}

.infoField{
    background-color: #ffffff;
    text-align: left;
}

.infoFieldLabel{
    overflow: hidden;
}

.logoutDialog{
    padding: 2%;
}

.logoutDialogTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1%;
    margin-bottom: 2%;
    border-bottom: 2px solid #6FA2F8;
}