.PatientOverview{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noMedFileAlert {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1%;
}

.PatientInfoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}